*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

:root{
    --red: rgb(247, 40, 40);
    --green : rgb(65, 173, 65);
    --blue: rgb(75, 75, 228);
    --yellow: rgb(241, 241, 115);
    --black : black;
}

div.ludo-con{
    display: flex;
    position: relative;
}

div.left-button{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   padding: 10px 10px;
}

div.left-button > div{
    box-sizing: border-box;
    background-color: beige;
    /* border: 2px solid green; */
    
}

div.left-button > div div{
    border: 1px solid black;
   /* border: 1px solid black; */
   background-color: white;
   padding: 10px;
   cursor: pointer;
   transform: rotateY(0);
   transition: all 0.35s;
   font-size: 2rem;
   color: black;
}

div.left-button > div div#red-btn{
   background-color: var(--red);
}

div.left-button > div div#blue-btn{
    background-color: var(--blue);
 }

 div.left-button > div div#yellow-btn{
    background-color: var(--yellow);
 }

 div.left-button > div div#green-btn{
    background-color: var(--green);
 }



main{
    /* border: 1px solid hotpink; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}


div.main_con{
    border: 2px solid var(--black);
    display: inline-block;
    
}

div.upper{
   display: grid;
   grid-template-columns: auto auto auto;
   /* border: 1px solid firebrick; */
   
   width: 650px;
}

div.mid-r-g{
   border : 1px solid var(--black);
 }

div.mid-r-g > div{
   /* border: 1px solid aliceblue; */
   display: grid;
   grid-template-columns: auto auto auto;
}

div.mid-r-g > div div{
    width: 51px;    
    height:40px;
    border: 1px solid var(--black);
    

    transition: all 1s;
}

div.upper div.red-player{
    background-color:  var(--red);
    padding: 20px;
    border: 1px solid var(--black);
}

div.upper div.green-player{
    background-color: var(--green);
    padding: 20px;
    border: 1px solid var(--black);
}

div.red-player > div, div.green-player > div{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid var(--black);

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    padding: 20px;

}

div.red-player > div span, div.green-player > div span{
   /* border: 1px solid gray; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100%;

}

div.red-player > div span div{
   width: 40px;
   height:40px;
   background-color: var(--red);
    border-radius: 50%;
    border: 1px solid var(--black);
    transition: all 1s;
 
 }

 div.green-player > div span div{
    width: 40px;
    height: 40px;
    background-color: var(--green);
     border-radius: 50%;
     border: 1px solid var(--black);
 }


 div.middle{
    border: 1px solid var(--black);
    display: grid;
    grid-template-columns: auto auto auto;
 }

 div.m-r-b > div{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    /* border: 1px solid yel?lowgreen; */
 }

 div.m-r-b > div div{
   width: 40px;
   height: 52px;
   border: 1px solid var(--black);
   

   transition: all 1s;
 }

 div.middle div.win-box{
    border: 1px solid var(--black);
    width: 160px;
    padding-left: 1px;
 }

 div.win-box div.top-tri{
    width: 0;
	height: 0;
	border-top: 77px solid green;
    border-left: 77px solid red;
    border-right: 77px solid blue;
}


div.win-box div.top-tri{
    width: 0;
	height: 0;
	border-bottom: 77px solid blue;
    border-left: 77px solid red;
    border-right: 77px solid yellow;
}







 div.lower{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid var(--black);
    width: 650px;
 }
 
 div.mid-b-y > div{
    /* border: 1px solid aliceblue; */
    display: grid;
    grid-template-columns: auto auto auto;
 }
 
 div.mid-b-y > div div{
     width: 51px;    
     height: 40px;
     border: 1px solid var(--black);
     

     transition: all 1s;
 }
 
 div.lower div.blue-player{
     background-color: var(--blue);
     padding: 20px;
     /* border: 2px solid green; */
 }
 
 div.lower div.yellow-player{
     background-color: var(--yellow);
     padding: 20px;
     /* border: 2px solid rgb(17, 10, 150); */
 }
 
 div.blue-player > div, div.yellow-player > div{
     width: 200px;
     height: 200px;
     background-color: white;
     border: 1px solid var(--black);
 
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
 
     padding: 20px;
 
 }
 
 div.blue-player > div span, div.yellow-player > div span{
    /* border: 1px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
 
 }
 
 div.blue-player > div span div{
    width: 40px;
    height:40px;
    background-color: var(--blue);
     border-radius: 50%;
     border: 1px solid var(--black);
  
  }
 
  div.yellow-player > div span div{
     width: 40px;
     height: 40px;
     background-color: var(--yellow);
      border-radius: 50%;
      border: 1px solid var(--black);
  }

  div.red-col{
    background-color: var(--red);
  }

  div.blue-col{
    background-color: var(--blue);
  }

  div.yellow-col{
    background-color: var(--yellow);
  }

  div.green-col{
    background-color: var(--green);
  }


  div#red-btn{
    /* animation: red-animation 1s ease 0s infinite reverse; */
  }

  div.star{
    font-size: 25px;
    text-align: center;
  }



  @keyframes red-animation {
    0%{
        outline: 0px solid pink;
    }

    50%{
        outline: 10px solid pink;
    }

    100%{
        outline: 0px solid pink;
    }
  }

  @keyframes green-animation {
    0%{
        outline: 0px solid #6ae76a;
    }

    50%{
        outline: 10px solid #6ae76a;
    }

    100%{
        outline: 0px solid #6ae76a;
    }
  }

  @keyframes blue-animation {
    0%{
        outline: 0px solid #137dc3;
    }

    50%{
        outline: 10px solid #137dc3;
    }

    100%{
        outline: 0px solid #137dc3;
    }
  }

  @keyframes yellow-animation {
    0%{
        outline: 0px solid #f5f48d;
    }

    50%{
        outline: 10px solid #f5f48d;
    }

    100%{
        outline: 0px solid #f5f48d;
    }
  }


  /* div.try-new-css{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    padding: 40px 0 0 130px;
    background: linear-gradient(180deg, red 50%, rgb(34, 32, 31) 0%);
    border: 1px solid black;


    background: linear-gradient(180deg, red 25%, rgb(237, 84, 7,0) 0%), linear-gradient(180deg, yellow 50%, rgb(62, 152, 62,0) 0%),linear-gradient(180deg, blue 75%, rgba(57, 237, 7) 50%);

      background: linear-gradient(180deg, red 33%, rgb(237, 84, 7,0) 33%), linear-gradient(180deg, yellow 66%, rgb(62, 152, 62) 66%);

    font-size: 60px;
  } */


  @media screen and (max-width:820px) {
    
  }